@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
    <title>Cookies Sample</title>
</head>
<body>
    <h1>Количество пользователей</h1>

    <p>@Model</p>

    <p>
        Создайте MVC приложение, которое будет подсчитывать количество пользователей онлайн.
        Количество пользователей должно отображаться на странице вашего приложения. Для
        проверки работы приложения, запустите его в несколько браузерах. Если вы откроете
        приложение в трех браузерах, количество пользователей онлайн должно быть равное трем.
    </p>
</body>
</html>
