
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Проверка достоверности модели</title>
</head>
<body>
    <a asp-action="Register" asp-controller="account">Регистрация</a>
    <p>
        Задание
        Создайте форму регистрации на консультацию. 
        Все поля обязательные для ввода. Email должен быть в соответствующем формате. Дата
        консультации должна быть правильной датой, она должна быть в будущем и не должна
        попадать на выходные дни.
        При наличии ошибок, необходимо оповестить пользователя об ошибках.
    </p>
</body>
</html>
