@*Меню, отображаемое слева*@
<ul>
    <li><a asp-controller="Page" asp-action="Menu1">Меню 1</a></li>
    <li><a asp-controller="Page" asp-action="Menu2">Меню 2</a></li>
    <li><a asp-controller="Page" asp-action="Menu3">Меню 3</a></li>
</ul>