@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
    <p>Главная</p>
</div>

<p>
    Задание
    Подключите библиотеку bootstrap.
    Используя bootstrap сделайте меню https://getbootstrap.com/docs/4.3/components/navbar/
    Меню должно содержать 3 пункта «Главная», «Страница 1», «Страница 2».
    Каждый пункт должен вести на отдельное представление с уникальным сообщением.
    Используя компоновки сделайте меню доступным на каждом представлении.

</p>
