
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Проверка достоверности модели</title>
</head>
<body>
    <a asp-action="Register" asp-controller="account">Регистрация</a>
    <p>
        Задание 1
        Для формы из предыдущего задания добавьте валидацию на стороне клиента.
        Задание 2
        Для формы из предыдущего задания добавьте выпадающий список, в котором можно будет
        указать продукт, по которому клиент хочет получить консультацию. Значения: JavaScript, C#, Java,
        Python, Основы. При этом консультация по продукту «Основы» не может проходить по
        понедельникам, соответствующая ошибка должна выводиться в пользовательском интерфейсе.
    </p>
</body>
</html>
