
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Создайте веб приложение, которое будет обрабатывать следующие запросы</title>
</head>
<body>

    <a href="Calc/Add/20/20">Calc/Add/20/20</a> <br />
    <a href="Calc/Mul/20/10">Calc/Mul/20/10</a> <br />
    <a href="Calc/Div/20/10">Calc/Div/20/10</a> <br />
    <a href="Calc/Sub/20/10">Calc/Sub/20/10</a>
</body>
</html>
