
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результат</title>
</head>
<body>
    <p>Запрос: </p>
    <p>@ViewData["Route"]</p>
    <p>Результат вычислений: </p>
    <p>@ViewData["CalcResult"]</p>
</body>
</html>
