@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
    <p>Главная</p>
</div>

@* partial внедрение частичного представления в указанный блок разметки *@
<partial name="_CurrentDate" />

<p>
    Задание 1
    Создайте частичное представление, которое отображает текущую дату и время. Используйте
    это частичное представление в обычном представлении.
</p>
