@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <ul>Item 1</ul>
    <ul>Item 2</ul>
    <ul>Item 3</ul>
    <p>
        Сделайте необходимые изменения в проекте, чтобы при запросе <a href="/Test/Message">/Test/Message</a>
        отображалась страница с сообщением «Hello world», а при запросе <a href="/List/Info">/List/Info</a> - отображался список с тремя элементами и произвольным текстом.
    </p>
</body>
</html>
